<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Achievements</div>
                <div class="row justify-content-center">
									<ul class="timeline">
										<li>
											<div class="timeline-badge up bg-green"></div>
											<div class="timeline-panel">
												<div class="row">
													<div class="col-lg-12">
														<div class="h5 mt-0 title">2013</div>
														<div class="h6 mt-0 title">1st Place Winner of a Classic Piano Competition</div>
														<p align="justify">Piano Competition held by Ravel Music Centre</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="timeline-badge down"></div>
											<div class="timeline-panel">
												<div class="row">
													<div class="col-lg-12">
														<div class="h5 mt-0 title">2013</div>
														<div class="h6 mt-0 title">Finalist of a National Mathematics Competition</div>
														<p align="justify">Kompetisi Matematika Nalaria Realistik (KMNR) held by Klinik Pendidikan Mipa (KPM)</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="timeline-badge up bg-green"></div>
											<div class="timeline-panel">
												<div class="row">
													<div class="col-lg-12">
														<div class="h5 mt-0 title">2016</div>
														<div class="h6 mt-0 title">3rd Place Winner of a Classic Piano Competition</div>
														<p align="justify">Piano Competition held by Essex Piano</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="timeline-badge up bg-green"></div>
											<div class="timeline-panel">
												<div class="row">
													<div class="col-lg-12">
														<div class="h5 mt-0 title">2018</div>
														<div class="h6 mt-0 title">3rd Place Winner of a Classic Piano Competition</div>
														<p align="justify">Piano Competition held by Yamaha Piano</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
                </div>
    </div>
</div>
