<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                        <p align="justify">A student in the School of Electrical Engineering and Informatics at Bandung Institute of Technology who is passionate about learning new skills, expanding relations, and experiencing things outside of comfort zone.</p>
                        <p align="justify">Currently interested in learning new things, such as 3D animation using Blender and game development using Unity. Also keen to improve music skills as a pianist.</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">October 18, 2003</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Place of Birth:</strong>
                            </div>
                            <div class="col-sm-8">Jakarta</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">sinekarlintang@gmail.com</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

