<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2021 - now</p>
                        <div class="h5">University Student</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">School of Electric Engineering and Informatics</div>
                                <h4 class="category">Bandung Institute of Technology</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2018 - 2021</p>
                        <div class="h5">High School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">High School</div>
                            <h4 class="category">SMAN 78 Jakarta Barat</h4>
                            <ul>
                                    <li>Completed high school education with <b>91/100</b> average score in the Final Examination.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015 - 2018</p>
                        <div class="h5">Middle School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Middle School</div>
                                <h4 class="category">SMPN 111 Jakarta Barat</h4>
                                <ul>
                                  <li>Completed middle school education with <b>36.00/40.00</b> score in National Examination</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2009 - 2015</p>
                        <div class="h5">Elementary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Elementary School</div>
                                <h4 class="category">SD Muhammadiyah 4 Surabaya</h4>
                                <ul>
                                        <li>Completed elementary education with <b>29.10/30.00</b> score in National Examination</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               
