<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="purple">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/dark.jpg');">
            </div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                  <img src="assets/images/waaa.jpg" alt="Image" />
                </div>
                <div class="h2 title">Sinekar Lintang</div>
                <p class="category text-white">School of Electrical Engineering and Informatics Student</p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/sinekarlintang/" target="_blank" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/sinekar-lintang-3a1968220/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/sinekarlintang" target="_blank" rel="tooltip" title="Follow me on Github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/sinekarlintang" target="_blank" rel="tooltip" title="Follow me on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
